* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: rgb(240, 235, 235);
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.portifolio {
    font-size: 40px;
    font-weight: 400;

}

.portifolio span {
    color: rgb(128, 25, 225);
    font-weight: 400;
}

ul {
    display: inline-block;
    color: #4B5563;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: rgb(128, 25, 225);
    transition: 0.5s;
}


.text {
    margin-top: 200px;
    color: #4B5563;


}

.section-one {
    text-align: center;
    font-size: 19px;

}

.section-two {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.section-two span {
    color: rgb(128, 25, 225);
}

.section-three {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.section-four {
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;

}

.about-my {


    text-align: left;
    font-size: 25px;
    margin-left: 350px;
    font-weight: 400;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 15px;
}

.about-my span {
    color: rgb(128, 25, 225);
}

h2 {
    background-color: rgb(240, 235, 235);
    font-size: 60px;
    margin-left: 30px;
    text-align: center;
}

.about {
    display: flex;
    align-items: center;
    padding: 30px 2%;
    background-color: rgb(240, 235, 235);

}

.paragraph {
    margin-left: 33px;
    color: #4B5563;
}

img {
    height: 460px;
    border-radius: 30%;
    border: 5px solid rgb(125, 123, 127);
    margin-right: 50px;

}

.section-five {
    text-align: left;
    max-width: 100%;
    margin-bottom: 73px;
    font-size: 25px;

}

button {
    background: rgb(128, 25, 225);
    color: #FFFFFF;
    height: 50px;
    width: 160px;
    font-size: 29px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

button:hover {
    color: #000000;
    background-color: #FFFFFF;
    border: 3px solid rgb(128, 25, 225);
    transition: 0.5s;
}

.projects {
    color: #4B5563;
    margin-top: 100px;
}